@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  height: 100vh;
  background-color: rgba(20, 189, 172, 1);
}
.header {
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 1);
  font-size: 1.5rem;
  font-weight: 800;
  display: grid;
  place-items: center;
  position: sticky;
  top: 0;
}
.container {
  display: grid;
  grid-template-columns: 140px 140px 140px;
  grid-template-rows: 140px 140px 140px;
  height: 80vh;
  grid-template-areas:
    "b1 b1 b1"
    "b1 b1 b1"
    "b1 b1 b1";
  place-content: center;
  width: 80vw;
  margin: 10px auto 0;
  border-radius: 10px;
}
@keyframes result {
  0% {transform:scale(0,0);transform-origin: center;}
  100% {transform:scale(1,1);}
}
.oWins,.xWins,.draw {
  position: relative;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.oWins::after,.xWins::after,.draw::after {
  content: "O WINNER";
  position: absolute;
  background: url(../img/confetti-17.webp) no-repeat center center;
  background-size: cover;
  height: 97%;
  border-radius: 10px;
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 42px;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.8);
  animation: result ;
  animation-duration: 2s;
}
.xWins::after {
  content: "X WINNER";
}
.draw::after {
  content: "MATCH DRAW";
  background: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 1) ;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.disabledInner {
  pointer-events: none;
}
.box {
  grid-area: "b1";
  gap: 10px;
  border: 5px solid rgba(238, 238, 238, 1);
  border-top: 0;
  border-left: 0;
  padding: 10px;
  font-size: 2rem;
  font-weight: 800;
  display: grid;
  place-items: center;
}
.box-3,
.box-6,
.box-9 {
  border-right: 0;
}
.box-7,
.box-8,
.box-9 {
  border-bottom: 0;
}
.btn-outer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  width: 60%;
  margin: 0 auto;
}
.btn {
  padding: 10px 15px;
  border: none;
  width: 100px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  -webkit-box-shadow: 0 6px 4px 1px #636363;
  box-shadow: 0 6px 4px 1px #636363;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.btn:hover {
  -moz-transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-5px);
  -webkit-box-shadow: 0 6px 4px -3px #636363;
  box-shadow: 0 6px 4px -3px #636363;
  color: rgba(255, 255, 255, 1);
}
.btn::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(6, 97, 99);
  border-radius: 5px;
  z-index: -1;
  transform: scale(1, 0);
  transform-origin: bottom;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.btn:hover::after {
  transform: scale(1, 1);
}